body {
  display: flex;
  justify-content: center;
  background-color: lightslategray;
}
.container {
  width: 80%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: cornsilk;
}
header h1 {
  font-size: 100px;
}
main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 15px;
}

#info-div {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
input {
  width: 100%;
  height: 100px;
  font-size: 70px;
}
input,
textarea {
  background-color: rgba(29, 2, 2, 0.493);
  color: white;
}
#start-btn {
  display: flex;
  justify-content: center;
}
#btns {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
button {
  font-size: large;
  padding: 10px;
  border-radius: 15px;
}

button:hover {
  color: aliceblue;
  background-color: black;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.692);
  display: none;
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* height: 200px; */
  text-align: center;
  background-color: aliceblue;
  z-index: 100;
  display: none;
}

.modal h1 {
  font-size: 50px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 35px;
  }
  .container {
    width: 100%;
  }
  main {
    margin-top: 30px;
  }
  .modal {
    width: 95%;
  }
  .modal h1 {
    font-size: 30px;
  }
}
